<!DOCTYPE html>
<html>
  <head>
    <title>Belt2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
<% flash[:errors].each do |e|%>
<p style="color: red;"><%= e %></p>
<% end %>
<% end %>

<% if current_user %>

<a href="/ideas">Bright Ideas</a> | <a href="/logout">Logout</a>
<% end %>
    <%= yield %>
  </body>
</html>
